<section class="p-t-75">
  <div class="container">
    <div class="row">
      <div class="col-6">
          <h2 class="cw-text">Experience the real agriculture</h2>
        <p class="cw-para">Agro Plus is a global development organization that empowers smallholder farmers to lift themselves out of
          poverty by harnessing the collective power of technology and grassroots-level partnerships.</p>
          <p class="cw-para">When farmers have the tools they need to connect with one another, they’re far more likely to apply what they’ve learned on their farms and in their households – improving their own livelihoods and those of others in their community, in a manner that’s nutrition-sensitive, climate-resilient, and inclusive.
            Since day one, our deeply committed, curious and collaborative team has been challenged and inspired.</p>
      </div>
      <div class="col-6">
        <img src="../../../assets/images/smart.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>

</section>

<section>
    <div class="container">
        <div class="title-header">
            <h2>Our Team</h2>
        </div>

        <div class="wrapper">
            <div class="row">
                <div class="border m-l-r-25 col main-member-container">
                    <div class="member"><img src="../../../assets/images/J1.png" alt="2" class="img-responsive"></div>
                    <div class="text-center"> 
                        <h5>Steve Jobs</h5>
                        <p class="deg-text">Founder</p>
                    </div>
                </div>
                <div class="border m-l-r-25 col main-member-container">
                    <div class="member"><img src="../../../assets/images/J2.png" alt="1" class="img-responsive"></div>
                    <div class="text-center"> 
                        <h5>Robert Joy</h5>
                        <p class="deg-text">Product Manager</p>
                    </div>
                </div>
                <div class="border m-l-r-25 col main-member-container">
                    <div class="member"><img src="../../../assets/images/J3.png" alt="3" class="img-responsive"></div>
                    <div class="text-center"> 
                        <h5>Henri Colin</h5>
                        <p class="deg-text">Team Leader</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
