<section class="header-bg ">
    <div class="container">
        <div class="row justify-content-center align-items-center banner-sec">
            <div class="cover-top-center">
                <div class="cover_txt">
                    <h6 class="tag-cover">Agriculture</h6>
                    <h3 class="title-cover">We Grow Best Food</h3>
                    <p class="para-cover">Grow your health with lower costs</p>
                </div>
            </div>
        </div>
    </div>
</section>