<section class="p-t-75">
  <h1 class="text-center">This Is My Gallery</h1>
  <div class="container">

    <div class="gallery">
      <div class="gallery-item">
        <img src="../../../assets/images/P1.png" alt="" class="gallery-image">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/images/P6.png" alt="" class="gallery-image">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/images/P4.png" alt="" class="gallery-image">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/images/P3.png" alt="" class="gallery-image">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/images/P5.jpg" alt="" class="gallery-image">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/images/P2.jpg" alt="" class="gallery-image">
      </div>
    </div>

  </div>
</section>
